html,
body,
.home-bg {
  background-color: #5095ee;
}

.title {
  text-align: center;
  padding-top: 50px;
}

p {
  text-align: center;
  padding: 10px;
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
}

.logo {
  color: white;
  float: left;
  background: #1c79f38e;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 1px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px -6px black;
}

li {
  float: right;
  /* border-right: 2px solid #e7e7e8; */
}

/* li:last-child {
 border-right: none;
} */

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
  box-shadow: 0 2px 10px -6px black;
  transition: 0.3s ease-in-out;
  background-color: #3786ec;
}

.visually-hidden {
  clip: rect(0000);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
