ul {
 list-style-type: none;
 margin: auto;
 padding: 1px;
 overflow: hidden;
 position: fixed;
 top: 0;
 width: 100%;
 margin-bottom: 20px;
 box-shadow: 0 2px 10px -6px black;
 background-color: #d59fa8;
}

li {
 float: right;
 /* border-right: 2px solid #e7e7e8; */
}

/* li:last-child {
 border-right: none;
} */

li a {
 display: block;
 color: white;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 text-decoration: underline;
 text-underline-offset: 3px;
}
